<div class="container-fluid" id="item">
    <h1 class="text-center">SMART SWITCH BOARD</h1>
    <form [formGroup]="boardForm">
      <div class="row justify-content-center">
        <!-- container -->
        <div class="item-container" formArrayName="items" *ngFor="let item of boardForm.get('items')['controls']; let i = index;">
          <div [formGroupName]="i">
            <div class="text-center">
              <h3>{{item.value['name']}}</h3>
            </div>
            <div class="text-center switch-box">
              <label class="switch">
                <input type="checkbox" formControlName="switch_value">
                <span class="switch-slider"></span>
              </label>
              <p class="text-center"><span *ngIf="item.value['switch_value']">ON</span><span *ngIf="!item.value['switch_value']">OFF</span></p>
            </div>
            <div class="range-box">
              <input type="range" min="{{item.value['slider_min']}}" max="{{item.value['slider_max']}}" step="{{item.value['slider_step']}}" class="slider" formControlName="slider_value">
              <p class="text-center">Intensity:{{item.value['slider_value']}}</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>